body {
  margin: 0;
  background-color: #f7e5ad;
  background-image: linear-gradient(to right,#ffeabb,#fff5d6,#ffeabb);
  padding: 0;
  font-family: tahoma;
  cursor: default;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
